<footer class="footer footer-center bg-primary text-primary-content p-10">
  <aside>
    <p class="font-bold">Pi-Less 皮拉樂斯</p>
    <p>&copy; <span id="y"></span> All rights reserved</p>
  </aside>
</footer>
<script>document.getElementById('y').textContent = new Date().getFullYear()</script>
</body>
</html>