<%- include('./partials/html-head') %> <%- include('./partials/html-navbar')
%>
    
    <div
      class="hero min-h-screen"
      style="background-image: url(./imgs/beach.webp)"
    >
      <div class="hero-overlay"></div>
      <div class="hero-content text-neutral-content text-center">
        <div class="max-w-md">
          <h1 class="mb-5 text-5xl font-bold">這是皮拉提斯網站</h1>
          <p class="mb-5">
            這是一個皮拉提斯網站這是一個皮拉提斯網站這是一個皮拉提斯網站這是一個皮拉提斯網站這是一個皮拉提斯網站這是一個皮拉提斯網站這是一個皮拉提斯網站這是一個皮拉提斯網站這是一個皮拉提斯網站這是一個皮拉提斯網站
          </p>
          <% if (session && session.member) { %>
            <button class="btn btn-primary"><a href="/me">您好，開始預約</a></button>
        </div>
      
      <% } else { %>
        <button class="btn btn-primary"><a href="/login">登入</a></button>
        </div>
        <% } %>
        </div>
    </div>
<%- include('./partials/html-tail') %>
</body>
</html>